body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nav-link{
  margin-left: 3rem;
}

#supportHero{
  background-color: rgb(56, 126, 209);
  color: white;
}

#supportHero a{
  color: white;
}

#supportWrapper{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 2rem;
  padding: 3vw 5vw;   
  margin: 0 auto;
  max-width: 1200px;
}

.supportContent{
  padding: 1vw 3vw;
}
#supportHero input{
  padding: 1rem 1.5rem;
  width: 100%;
  font-size:  1rem;
  border-radius: 10px;
  border: none;
}
a{
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}


@media (max-width: 768px) {
  .nav-link {
    margin-left: 1rem;
    display: block;
    margin-bottom: 0;
  }
  #supportWrapper {
    flex-direction: column;
    padding: 0;
  }
  .supportContent{
    padding:1rem 1rem;
  }
  
}